<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <title>{{TITLE}}</title>

    <style>
      {{CSS}}
    </style>
  </head>

  <body>
    <header>
      <h1>{{HEADER_TITLE}}</h1>
    </header>

    <h2>{{SUBTITLE}}</h2>

    <table>
      <thead>
        <tr>
          <th>Nombre</th>
          <th>Usuario</th>
          <th>App</th>
          <th>Prom. Min</th>
          <th>% Efectivo</th>
          <th>Accesos</th>
          <th>Total Min</th>
        </tr>
      </thead>

      <tbody>
        {{ROWS}}
      </tbody>
    </table>

    <footer>{{FOOTER}}</footer>
  </body>
</html>
